#page-content {
	clear: both;
	float: left;
	overflow: visible;
	position: relative;
	width: 100%;
}

#page-content #region-main-box {
	float: left;
	right: 23%;
	position: relative;
	width: 100%;
	border: 0px solid #3333cc;
}

#page-content #region-post-box {
	float: left;
	right: 54%;
	position: relative;
	width: 100%;
	border: 0px solid #3333cc;
}

#page-content #region-main {
	float: left;
	left: 101%;
	overflow: visible;
	position: relative;
	width: 52%;
}
#region-main{
	background-image:url("http://acm.zjicm.org/image/background.jpg");
}
#page-content #region-pre {
	float: left;
	left: 26%;
	overflow: visible;
	position: relative;
	width: 21%;
}

#page-content #region-post {
	float: left;
	left: 82%;
	overflow: visible;
	position: relative;
	width: 21%;
}

#page-content .region-content {
	overflow: visible;
	padding: 10px 0;
	border: 0px solid #3333cc;
}
#region-main-wrap .weeks h3{
	height:25px;
	background:url("http://moodle2.0.zjicm.org/theme/hustoj/pix/acm.png") no-repeat 20px top;
	padding-top:20px;
	font-size:14px;
	font-weight:bold;
	color:#105070;
}
#hustoj h3{
	background:url("http://moodle2.0.zjicm.org/theme/hustoj/pix/acm.png") no-repeat 20px -112px;
	border-bottom:1px solid #CCCCCC;
	height:17px;
	padding:28px 0  0 70px;
}
#page-content {
	overflow: hidden
}
#section-0{
	background:url("http://moodle2.0.zjicm.org/theme/hustoj/pix/tongpai.png") no-repeat 100px bottom;
}
#region-main-wrap #section-0 h3{
	height:46px;
	padding:40px 0 0 170px;
	background-position:0 0;
}
#section-1{
	background:url("http://moodle2.0.zjicm.org/theme/hustoj/pix/08acm.png") no-repeat scroll 10px bottom transparent;
	padding-bottom:310px;
}
#textcontainer-wrap{
	background:url("http://moodle2.0.zjicm.org/theme/hustoj/pix/hustoj_logo.png") no-repeat 60px 44px transparent;
}
/** Only side pre **/

.side-pre-only #page-content #region-main-box {
	right: 0%;
}

.side-pre-only #page-content #region-post-box {
	right: 77%;
}

.side-pre-only #page-content #region-main {
	left: 100%;
	width: 77%;
}

.side-pre-only #page-content #region-main .region-content {
	overflow: hidden;
	padding: 20px 10px;
	padding-top: 10px;
}

.side-pre-only #page-content #region-pre {
	left: 1%;
	width: 21%;
}

.side-pre-only #page-content #region-post {
	width: 0%;
}

/** Only side post **/

.side-post-only #page-content #region-main-box {
	right: 23%;
}

.side-post-only #page-content #region-post-box {
	right: 76%;
}

.side-post-only #page-content #region-main {
	left: 100%;
	width: 77%;
}

.side-post-only #page-content #region-main .region-content {
	overflow: hidden;
	padding: 20px 10px;
}

.side-post-only #page-content #region-post {
	left: 100%;
	width: 21%;
}

.has_dock.side-post-only .page-middle #region-main-box #region-post-box #region-main-wrap #region-main {
	margin-left: 23%;
}

/** No blocks whatsoever **/

.content-only #page-content #region-main-box {
	right: 0%;
}

.content-only #page-content #region-post-box {
	right: 100%;
}

.content-only #page-content #region-main {
	width: 98%;
}

.content-only #page-content #region-pre {
	width: 0%;
}

#region-pre {
	padding-top: 0px;
}
.block_navigation .content{

}

/** fix for some extra padding in side-post-only view **/

.side-post-only div.region-content {
	padding-top: 0px !important;
}

#region-post {
	padding-top: 0px;
}

.pagelayout-report #page-content #region-main {overflow:auto;}
.pagelayout-report #page-content #region-main .region-content {overflow:visible;}