

	</div><!-- main -->


	<div class="foot">

		<div class="fLink">
			<a class="toTop" href="#">GO TO TOP</a>
			<a href="{webUrl}">Home</a> | 
			<a href="http://www.yinchaohuan.cn" target="_blank">Forum</a> | 
			<a href="http://www.yinchaohuan.cn" target="_blank">About</a> | 
			<a class="mail" href="mailto:{adminEmail}">{adminEmail}</a> | 
			<a href="http://www.miibeian.gov.cn" target="_blank">{record}</a> | 
			<a class="cn" href="{tcmsDir}link.php">申请友情链接</a>
		</div>

		<div class="fLogo">
			<a href="http://www.yincaohuan" target="_blank"><img src="{tcmsDir}images/logo-left.gif" alt="早教网" /></a>
			<a href="http://www.yincaohuan" target="_blank"><img src="{tcmsDir}images/logo.gif" alt="早教网" /></a>
		</div><!-- fLogo -->

		<div class="fText"  align="center">
			<p class="cn"><strong>yinchaohuan的毕业设计</strong></p>
			<p>	<strong>Copyright &copy; 2011 by <a href="http://www.yinchaohuan" target="_blank">yinchaohuan</a> All right reserved.</strong></p>
		</div><!-- fText -->

	</div><!-- foot -->



</div>


</body>
</html>